/* Updated Style.css */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Poppins:wght@300;500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--text);
    line-height: 1.6;
    /* border-radius: 20px; */
}

:root[data-theme='light'] {
    --primary: linear-gradient(90deg, rgba(89, 142, 223, 1) 0%, rgb(228, 179, 255) 100%);
    --secondary: #598edf;
    --accent: #f757ad;
    --background: #f5f7fa;
    --section-bg: #ffffff;
    --text: #000000;
    --text-light: #777;
    --white: #ffffff;
    --shadow-light: 0px 4px 10px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0px 4px 10px rgba(0, 0, 0, 0.25);
    --transition: all 0.3s ease-in-out;
    --section-nav: linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9));
}

  

/* Global Styles */

html {
    font-size: 62.5%;
}

@media (max-width: 1100px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 45%;
    }
}

h1, h2, h3, h4 {
    font-family: 'Nunito', sans-serif;
}

h1 {
    color: var(--secondary);
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

p {
    color: beige;
    font-size: 1.6rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--secondary);
    transition: var(--transition);
}

a:hover {
    color: var(--accent);
}

li {
    list-style: none;
}

/* Font Size Scaling */
@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.4rem; 
    }

    .btn {
        font-size: 1.4rem; 
        padding: 1rem 2.5rem;
    }
}

/* Hero Section Animation */
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Fade In Right Animation */
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Profile Picture */
.profile-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}

.profile-picture {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    border: 2px solid var(--accent);
    margin-right: 1rem;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

/* Slight enlarge on hover */
.profile-picture:hover {
    transform: scale(1.1); 
}

/* Navbar Logo Scaling */
.logo {
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    white-space: nowrap;
    background: linear-gradient(90deg, #ffa189, #feb47b);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: fade-in-left 1s ease-out; 
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    overflow: hidden;
}



@media (max-width: 768px) {
    .logo {
        width: 100%; 
        font-size: 1.5rem;
    }
    .profile-container {
        flex-direction: row;
        align-items: center;
        gap: 0.8rem;
        width: 100%;
    }
    .profile-picture {
        width: 35px;
        height: 35px;
    }
}

/* Section Styling */
.section {

    padding: 0;
    background: var(--background);
    /* border-radius: 1rem; */
    box-shadow: var(--shadow-light);
    margin: 0;
}


/* Main Section (Hero Section) */
.section-hero {
    background: linear-gradient(135deg, #4ca1af,#2c3e50);
  color: var(--white);
  padding: 8rem 2rem;
  position: relative;
  overflow: hidden;
}

.section-hero-design {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .background-svg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 150%;
    height: auto;
    z-index: -1;
  }

.grid {
    display: grid;
    gap: 2rem;
}

.grid-two-column {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3rem;
}

.section-hero-data {
    padding-right: 2rem;
}

.hero-top-data {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 8rem;
    color: var(--white);
    padding: 5px 10px; 
    margin-top: -40px;
    /* background: #2a2828; */
    background-image: -ms-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), -ms-linear-gradient(#eee .05em, transparent .05em);
    border: solid 1px #fff; 
    border-radius: 20px;
    display: inline-block; 
    animation: fadeInLeft 1.5s ease-in-out;
}

.hero-heading {
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--white);
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-para {
    font-size: 1.6rem;
    line-height: 1.8;
    margin-bottom: 3rem;
    color: var(--white);
    text-align: center; 
    margin-right: 0; 
}

.hireme-btn {
    position: relative;
    margin: 1rem auto;
    display: inline-block;
    color: var(--white);
    font-size: 1.6rem;
    background: none;
    padding: 1.2rem 3rem;
    border: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    transition: color var(--transition), transform var(--transition);
    animation: fadeInLeft 0.6s ease-out;
}

/* Text Animation */
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


/* Hover Effects */


.hireme-btn:hover {
    color: #f757ad; 
    transform: scale(1.05); 
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero-para {
        text-align: center;
    }

    .hireme-btn {
        margin: 1rem auto;
        display: block;
    }
}

.card {
    padding: 1.5rem;
    text-align: center;
    border-radius: 2rem;
    box-shadow: var(--shadow-light);
    margin-top: 2rem; 
    transform: scale(0.95); 
    color: var(--accent);
    display: flex;
    animation: fadeInRight 1.5s ease-in-out;
    
}

.card h3 {
    display:contents;
    font-size: 5rem;
    margin-bottom: 0.8rem;
    color: black;
}

.card-p {
    display: contents;
    font-size: 1.6rem;
    font-weight: 501;
    color: #000000;


}

.card:hover {
    transform: scale(1.05);
    background: transparent;
    color: #fff;
    transition: all 0.3s ease-in-out;
}




/* Responsive Adjustments */
@media (max-width: 768px) {
    .grid-two-column {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .section-hero-data {
        padding-right: 0;
    }

    .section-hero-image {
        margin-top: 2rem; 
    }

    .section-hero-image img {
        width: 100%;
        max-width: 300px;
        height: auto;
        border-radius: 50%; 
    }

    .card {
        flex-direction: column;
        align-items: center;  
        padding: 2rem 1rem; 
        display: flex;  
    }
}

/* Contact heading touched */
.common-heading {
    font-size: 3.5rem;
    font-weight: 700; 
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
    background: linear-gradient(90deg, #ff9e36, #ff3bf5);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0; 
    transform: translateX(30px); 
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.common-heading::after {
    content: '';
    width: 50px;
    height: 5px;
    background: var(--primary); 
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.common-heading.visible{
    opacity: 1;
    transform: translateX(0);
}

.common-heading.visible::after {
    opacity: 1; 
    transform: translateX(0); 
}

/* Buttons */
.btn {
    display: inline-block;
    background: var(--primary);
    color: var(--white);
    padding: 1.2rem 3rem;
    font-size: 2.6rem;
    border-radius: 5rem;
    border: none;
    cursor: pointer;
    transition: var(--transition);
}

.btn:hover {
    background: var(--accent);
    box-shadow: var(--shadow-dark);
    transform: scale(1.05);
    color: white;
}

.section-projects .button-container {
    text-align: center;
    margin-top: 2rem;
}

/* Project Section */

.section-projects {
    background: linear-gradient(to bottom right, rgba(34, 49, 63, 0.8), rgba(51, 105, 160, 0.8)), url('../Images/wave2.svg') no-repeat center bottom;
    background-blend-mode: overlay;
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #fff; 
    padding: 6rem 4rem;
    min-height: 60vh;
}

.PCard {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 4rem;
    text-align: center;
    border-radius: 1rem;
    margin: 1rem;
    transform: scale(0.95);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
    /* animation: fadeInUp 1.5s ease forwards; */
}

/* Card Content Styling */
.PCard h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: #f1faee;
}

.PCard p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #a8dadc;
}

/* Card Hover Effects */
.PCard:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
}

/* Button Styling */
.section-projects .button-container .btn {
    background: linear-gradient(90deg, #457b9d, #1d3557);
    padding: 0.8rem 2rem;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    transition: background 0.3s ease;
}

.section-projects .button-container .btn:hover {
    background: linear-gradient(90deg, #1d3557, #457b9d);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Keyframes for Fade-in Animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* About section */
.my-name-about{
    background: linear-gradient(90deg, #ff9e36, #b4ff3b);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.section-about {
    position: relative;
    background: linear-gradient(135deg, #2c3e50, #4ca1af);
    color: #f5f5f5;
    overflow: visible;
    padding: 60px;
    padding-bottom: 110px;
}

.section-about::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: url('../Images/wave.svg') no-repeat center bottom;
    background-size: cover;
    z-index: 1;
}

.section-about::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('sparkle-effect.png') repeat;
    opacity: 0.2;
    pointer-events: none;
}


.about-image {
    position: relative; 
    width: 100%; 
    max-width: 400px; 
    margin: auto; 
    text-align: center;
}

.about-image img {
    width: 80%;
    height: auto;
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


/* Contact Form */
.section-contact {
    padding: 6rem 2rem;
    background: linear-gradient(to bottom, #123456, #654321);
    color: #fff;
    text-align: center;
    position: relative;
    overflow: visible;
}

.section-contact h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.contact-form-container {
    max-width: 800px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    padding: 3rem;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1.5s ease-in-out;
}

.section-contact form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section-contact input, 
.section-contact textarea {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 0.5rem;
    padding: 1.2rem;
    font-size: 1.6rem;
    color: #333;
    transition: 0.3s;
}

.section-contact input:focus, 
.section-contact textarea:focus {
    outline: none;
    border-color: #654321;
    box-shadow: 0 0 10px #654321;
}

.textarea-container {
    position: relative;
}

.textarea-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    opacity: 0.3;
    filter: blur(1px);
}

.section-contact input[type="submit"] {
    background: linear-gradient(45deg, #654321, #123456);
    color: #fff;
    cursor: pointer;
    font-size: 1.6rem;
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    transition: 0.4s;
    align-self: center;
}

.section-contact input[type="submit"]:hover {
    background: linear-gradient(45deg, #123456, #654321);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Navbar */
.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5rem;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header:hover {
    background: rgba(0, 0, 0, 0.9); 
}

.navbar-lists {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 50%;
    padding: 1rem;
    border-radius: 2px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    gap: 7rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    color: #f757ad;
}

.navbar-lists.show {
    display: flex;
    padding: 30px 0px 20px 0px;
}

.navbar-link {
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.navbar-link:hover {
    color: #f757ad;
}

.nav-links.show {
    display: flex; 
}

/* Hamburger icon */
.checkbtn {
    font-size: 5rem;
    color: var(--accent);
    cursor: pointer;
    display: block;
    transition: color 0.3s ease-in-out;
}

.checkbtn:hover {
    color: var(--secondary);
}


/* Desktop View */
@media (min-width: 768px) {

    .navbar-lists {
        display: flex;
        flex-direction: row;
        position: static;
        background: transparent;
        box-shadow: none;
        width: auto;
        padding: 0;
        gap: 5rem;
    }

    .checkbtn {
        display: none;
    }
}

.hamburger-checkbox {
    display: none;
}

/* Footer */
.section-footer {
    /* background: #1e293b;
    color: #f5f5f5;
    text-align: center;
    padding: 4rem 2rem;
    display: table-cell; */

    background: linear-gradient(35deg, #182f53, #67674f);
    color: #f5f5f5;
    padding: 4rem 2rem;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.section-footer::before {
    content: '';
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://www.transparenttextures.com/patterns/cartographer.png'); 
    opacity: 0.1;
    z-index: 0;
    pointer-events: none;
}

.section-footer * {
    position: relative;
    z-index: 1;
}

.section-footer h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--accent);
    text-transform: uppercase;
}

.section-footer p, .section-footer a {
    font-size: 1.4rem;
    color: #ccc;
    line-height: 1.8;
}

.section-footer a {
    color: var(--accent);
    text-decoration: none;
    transition: color 0.3s ease;
}

.section-footer a:hover {
    color: var(--primary);
    text-decoration: underline;
}

/* Footer Links */
/* .f-links ul {
    list-style: none;
    padding: 0;
}

.f-links ul li {
    margin-bottom: 0.8rem;
}

.f-links ul li a {
    font-size: 1.4rem;
} */

/* Address Styling */
.f-address address p {
    margin: 0.6rem 0;
    display:contents;
    gap: 4rem;
    font-size: 1.4rem;
}

.f-address address p:hover {
    color: rgb(191, 65, 122);
    font-size: 1.4rem;
}

/* Social Icons Section */
.section-social-icon {
    margin-top: 2rem;
    padding: 1rem 0;
    font-size: 5px;
    background: transparent;
}

.f-social-icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.social-icon {
    color: #ccc;
    font-size: 5rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
    color: var(--accent);
    transform: scale(1.2);
}

/* Footer Bottom */
.footer-bottom {
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #666;
    text-align: center;
    border-top: 1px solid #333;
    padding-top: 1rem;
}

@media (max-width: 768px) {
    .grid-three-column {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .section-social-icon {
        padding: 2rem 0;
    }
    .f-address address p {
        flex-direction: column;
        text-align: center;
    }

    .f-social-icons {
        flex-direction: column;
        gap: 1.5rem;
    }
}

/* Freelancing Section */
.section-freelancing {
    background-image: url('../Images/imgTableTop.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    padding: 10rem 0;
    text-align: center;
    color: var(--white);
    transition: all 0.7s linear;
}

.section-freelancing .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.section-freelancing .container {
    position: relative;
    z-index: 2;
    font-size: 2.5rem;
    max-width: 1200px;
    margin: 0;
    padding: 0; 
}

.section-freelancing h2 {
    color: var(--accent);
    font-size: 3.2rem;
    margin-bottom: 2rem;
    font-weight: 700;
}

.section-freelancing p {
    color: var(--white);
    font-size: 1.8rem;
    line-height: 1.8;
    max-width: 60rem;
    margin: 0 auto;
}

.section-freelancing .btn {
    margin-top: 2rem;
    background: var(--accent);
    padding: 1rem 3rem;
    font-size: 1.6rem;
    border-radius: 5rem;
    text-transform: uppercase;
    transition: var(--transition);
}

.section-freelancing .btn:hover {
    background: #f757ad;
    transform: scale(1.1);
    border: 5px solid var(--accent);
}

.freelancingAvailable {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    display: inline-block;
    opacity: 0; 
    transform: translateY(-50px); 
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

/* .freelancingAvailable:hover {
    background: linear-gradient(90deg, #ff7e5f, #ffd700); 
    transform: scale(1.05); 
} */

.freelancingAvailable.visible {
    opacity: 1; /* Fade in */
    transform: translateY(0); 
}


/* Hero Container Styles */
.hero-container {
    position: relative;
    width: 300px;
    height: 310px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
}

/* Hero Picture Styles */
.hero-picture {
    width: 100%;
    height: auto;
    /* border-radius: 50%;  */
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.6); Glow effect */
    /* z-index: 0; */
}

/* Icon Styles */
.icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
  }

.icon {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    font-size: 4rem;
    color: #fff;
    animation: fadeIn 2s ease-in-out;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}
  

/* Icon Positions */
.react-icon {
    /* top: 170px;
    left: 2px;
    width: 50px;
    height: 50px; */
    animation-delay: 0.3s;
    
}

.node-icon {
    /* bottom: 227px;
    right: 20px;
    width: 30px;
    height: 30px; */
    animation-delay: 0.6s;
}

.js-icon {
    /* top: 190px;
    right: 8px;
    width: 80px;
    height: 80px; */
    animation-delay: 0.9s;
}

.html-icon {
    animation-delay: 1.2s;
}

.css-icon {
    animation-delay: 1.5s;
}


/* Responsive Adjustments */
@media (max-width: 768px) {
    .grid-two-column {
      grid-template-columns: 1fr;
      text-align: center;
    }
  
    .icons {
      gap: 1.5rem;
    }
}

.skill-popup {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    max-width: 400px;
    background: rgba(0, 0, 0, 0.95);
    color: #fff;
    padding: 2rem;
    border-radius: 1.2rem 1.2rem 0 0;
    box-shadow: 0 -10px 30px rgba(0,0,0,0.5);
    transition: bottom 0.5s ease-in-out;
    z-index: 1000;
  }
  
  .skill-popup.show {
    bottom: 0;
  }
  
  .popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .close-btn {
    font-size: 2rem;
    align-self: flex-end;
    cursor: pointer;
  }
  
  .progress-ring {
    position: relative;
    margin: 1rem 0;
  }
  
  .ring-bg,
  .ring-progress {
    fill: none;
    stroke-width: 10;
    cx: 60;
    cy: 60;
    r: 50;
  }
  
  .ring-bg {
    stroke: #444;
  }
  
  .ring-progress {
    stroke: #00ffb7;
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
    transition: stroke-dashoffset 1s ease;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
  
  #progressText {
    position: absolute;
    top: 35px;
    left: 38px;
    font-size: 1.5rem;
    font-weight: bold;
  }  


/* SVG */
svg {
    display: block; 
    width: 100%;    
    height: auto;  
}
